terraform {
  required_providers {
    github = {
      source  = "integrations/github"
      version = "{{ github_version }}"
    }
  }
}

terraform {
    backend "remote" {
        organization = "kensuio"
        workspaces {
            name = "samisgh-ops-repository"
        }
    }
}

provider “github” {
  token = “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"
  owner = “samisgh”
}
